# Understanding Logistic Regression Tables

Using the same code as in the previous exercise, try to interpret the summary table.

### More information about the dataset: 
Note that <i> interest rate</i> indicates the 3-month interest rate between banks and <i> duration </i> indicates the time since the last contact was made with a given consumer. The <i> previous </i> variable shows whether the last marketing campaign was successful with this customer. The <i>March</i> and <i> May </i> are Boolean variables that account for when the call was made to the specific customer and <i> credit </i> shows if the customer has enough credit to avoid defaulting.

<i> Notes: 
    <li> the first column of the dataset is an index one; </li>
    <li> you don't need the graph for this exercise; </li>
    <li> the dataset used is much bigger </li>
</i>

## Import the relevant libraries

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## Load the data

Load the ‘Bank_data.csv’ dataset.

In [2]:
raw_data=pd.read_csv('Bank-data.csv')
raw_data

     Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0             0          1.334     0.0    1.0  0.0       0.0     117.0   no
1             1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2             2          4.858     0.0    1.0  0.0       0.0     167.0   no
3             3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4             4          4.856     0.0    1.0  0.0       0.0     157.0   no
..          ...            ...     ...    ...  ...       ...       ...  ...
513         513          1.334     0.0    1.0  0.0       0.0     204.0   no
514         514          0.861     0.0    0.0  2.0       1.0     806.0  yes
515         515          0.879     0.0    0.0  0.0       0.0     290.0   no
516         516          0.877     0.0    0.0  5.0       1.0     473.0  yes
517         517          4.965     0.0    0.0  0.0       0.0     142.0   no

[518 rows x 8 columns]

In [3]:
data=raw_data.copy()
data['y']=data['y'].map({'yes':1,'no':0})
data

     Unnamed: 0  interest_rate  credit  march  may  previous  duration  y
0             0          1.334     0.0    1.0  0.0       0.0     117.0  0
1             1          0.767     0.0    0.0  2.0       1.0     274.0  1
2             2          4.858     0.0    1.0  0.0       0.0     167.0  0
3             3          4.120     0.0    0.0  0.0       0.0     686.0  1
4             4          4.856     0.0    1.0  0.0       0.0     157.0  0
..          ...            ...     ...    ...  ...       ...       ... ..
513         513          1.334     0.0    1.0  0.0       0.0     204.0  0
514         514          0.861     0.0    0.0  2.0       1.0     806.0  1
515         515          0.879     0.0    0.0  0.0       0.0     290.0  0
516         516          0.877     0.0    0.0  5.0       1.0     473.0  1
517         517          4.965     0.0    0.0  0.0       0.0     142.0  0

[518 rows x 8 columns]

### Declare the dependent and independent variables

Use 'duration' as the independent variable.

In [9]:
y=data['y']
x1=data[['duration','interest_rate']]

### Simple Logistic Regression

Run the regression.

In [11]:
x=sm.add_constant(x1)
reg_log=sm.Logit(y,x)
result_log=reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.395898
         Iterations 7

### Interpretation

In [12]:
result_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      515
Method:                           MLE   Df Model:                            2
Date:                Sun, 10 May 2020   Pseudo R-squ.:                  0.4288
Time:                        11:06:05   Log-Likelihood:                -205.08
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 1.348e-67
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.0473      0.241     -0.196      0.844      -0.520       0.425
duration          0.0064      0.001      9.384      0.000       0.005       0.008
interest_rate    -0.8072      0.079    -10.242      0.000      -0.962      -0.653
=================================================================================
"""